body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: rgb(255, 252, 240);}

section { display: block; margin-top: 7em; justify-items: center; padding-left: 10em; padding-right: 10em; padding-top: 5em; padding-bottom: 5em; margin-left: 3em; margin-right: 3em; background-color:rgb(132, 161, 240)}

div .qr-border {
    margin-top: 4em;
    border-radius: 10px;
    border: 12px steelblue;
    height: 500px;
    width: 350px;
}
div .qr-code-img, div .qr-text, div .qr-border {display: flex;}

div .qr-code-img {
    margin-top: 2em;
    margin-bottom: 3em;
}


div .qr-text h4 {
    text-align: center;
    color:black;
    font-size: 17px;
    
}
div .qr-text p {
    text-align: center;
    flex-direction: row;
    margin-top: 2em;
    font-size: 15px;
    color:dimgrey;
    margin-bottom: 2em;;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }